
.skill-card {
    @apply p-4 border-2 rounded-md border-primarycolor hover:scale-105 transition-all;
}

.form-input {
    @apply w-full rounded-md border-2 border-primarycolor p-2 font-content text-primarycolor font-bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

$tiffany-blue: #84dcc6ff;
$gunmetal: #2a2d34ff;
$pale-purple: #e5d4edff;

$vh: 9.49px;

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');

.sec {
    min-height: calc(var(--vh, 1vh)*100);
    position: sticky;
    top: 0;
}
